FINANCE_DB_USER=finance_user
FINANCE_DB_PASSWORD=change_me
FINANCE_DB_NAME=finance_db

NOTIFICATION_DB_USER=notification_user
NOTIFICATION_DB_PASSWORD=change_me
NOTIFICATION_DB_NAME=notification_db

CAMUNDA_DB_USER=camunda_user
CAMUNDA_DB_PASSWORD=change_me
CAMUNDA_DB_NAME=camunda_db
CAMUNDA_ADMIN_PASSWORD=change_me
